<a href="https://colab.research.google.com/github/NatDomareski/arquivos-legais/blob/main/Din%C3%A2mica_Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nome: Natasha Domareski
# RID: #39319

# **Questão 1** 
Classifique os tipos de dados das seguintes variáris

In [ ]:
x = 5

type(x)

int

In [ ]:
x = 5.0

type(x)

float

In [ ]:
x = 5.5
type(x)

float

In [ ]:
x = 'DNC'
type(x)

str

In [ ]:
x = 1/2
type(x)

float

In [ ]:
x = 0.5*2
type(x)

float

In [ ]:
x = 2**4
type(x)

int

In [ ]:
x = 2 + 4
type(x)

int

In [ ]:
x = 1000000000000
type(x)

int

In [ ]:
x = int(input('Insira um dado: '))

type(x)

Insira um dado: 5
5

int

In [ ]:
x = float(input('Insira um dado: '))

type(x)

Insira um dado: 524

float

In [ ]:
x = input('Insira um dado: ')
type(x)

Insira um dado: 452

str

In [ ]:
x = input('Insira um dado: ')
type(x)

Insira um dado: 45

str

# **Questão 2**
Faça um print com duas linhas tracejadas acima e duas abaixo com 50 linhas em cada uma delas e no meio coloque 'DS06 - DNC'

In [ ]:
print('-'*50)
print('-'*50)
print('-'*20, 'DS6 - DNC', '-'*19)
print('-'*50)
print('-'*50)

--------------------------------------------------
--------------------------------------------------
-------------------- DS6 - DNC -------------------
--------------------------------------------------
--------------------------------------------------

# **Questão 3**
Você acabou de se formar na turma 05 de Formação em dados e conseguiu um emprego de um cientista de dados jr. com um salário de R$ 10.000,00 mensais. Você quer calcular quanto conseguirá guargar na poupança ao final do mês depois que pagar suas contas. Considere os dados abaixo para fazer um print igual ao que está em anexo.

In [ ]:
salario_cientista_de_dados = 10000.00
parcela_bmw = 2500.45
parcela_apartamento = 3500.50
veterinaria_romeuzinho = 500.00
luz = 100.80
agua = 80.35
condominio = 800.44
gas = 150.65


poupanca = salario_cientista_de_dados - parcela_bmw - parcela_apartamento - veterinaria_romeuzinho - luz - agua - condominio - gas


print('*'*100)
print(f'Seu salário é de cientista de dados jr é de R${salario_cientista_de_dados} e seus gastos estão dispostos a seguir')
print(f'Parcela da BMW = R$ {parcela_bmw}')
print(f'Parcela do apartamento = R$ {parcela_apartamento}')
print(f'Veterinário do Romeuzinho = R$ {veterinaria_romeuzinho}')
print(f'Conta de luz = R$ {luz}')
print(f'Conta de água = R$ {agua}')
print(f'Conta de condomínio = R$ {condominio}')
print(f'Conta de gás = R$ {gas}')
print('*'*100)
print(f'O valor disponível para colocar na poupança é de: R$ {poupanca}')

****************************************************************************************************
Seu salário é de cientista de dados jr é de R$10000.0 e seus gastos estão dispostos a seguir
Parcela da BMW = R$ 2500.45
Parcela do apartamento = R$ 3500.5
Veterinário do Romeuzinho = R$ 500.0
Conta de luz = R$ 100.8
Conta de água = R$ 80.35
Conta de condomínio = R$ 800.44
Conta de gás = R$ 150.65
****************************************************************************************************
O valor disponível para colocar na poupança é de: R$ 2366.81

# **Questão 4**

In [ ]:
formacao_em_dados = 20000.00
formacao_em_projetos = 15000.00
formacao_em_marketing = 13000.00
formacao_em_produto = 18000.00
formacao_em_tecnologia = 19000.00

x = int(input('Qual curso você quer escolher? \n1-Formação em dados \n2-Formação em Projetos \n3-Formação em Marketing \n4-Formação em Produto \n5-Formação em Tecnologia \n'))

if x == 1 :
  print(f'Você escolheu o curso Formação em Dados no valor de R$ {formacao_em_dados} que começará no próximo mês')

elif x == 2 :
  print(f'Você escolheu o curso Formação em Projetos no valor de R$ {formacao_em_projetos} que começará no próximo mês')

elif x == 3 :
  print(f'Você escolheu o curso Formação em Marketing no valor de R$ {formacao_em_marketing} que começará no próximo mês')

elif x == 4 :
  print(f'Você escolheu o curso Formação em Produto no valor de R$ {formacao_em_produto} que começará no próximo mês')

elif x == 5 :
  print(f'Você escolheu o curso Formação em Tecnologia no valor de R$ {formacao_em_tecnologia} que começará no próximo mês')

else:
  print('Didite um valor correspondente a um curso de nossas formações.\n1-Formação em dados \n2-Formação em Projetos \n3-Formação em Marketing \n4-Formação em Produto \n5-Formação em Tecnologia \n')

Qual curso você quer escolher?
1-Formação em dados
2-Formação em Projetos
3-Formação em Marketing
4-Formação em Produto
5-Formação em Tecnologia
4
Você escolheu o curso Formação em Produto no valor de R$ 18000.0 que começará no próximo mês

# **Questão 5**

In [ ]:
cursos = ('dados', 20000.00, 'projetos',15000.00, 'marketing', 13000.00, 'produto', 18000.00, 'tecnologia', 19000.00)


soma = 0
soma_media = 0

for i in range(0,10,2):
  x = int(input(f'Quantas vendas tivemos na formação em {cursos[i]}? '))
  soma_media += x
  y = cursos[i+1]*x
  soma += y

print(f'A receita total do mês é de R$ {soma}')

media = soma / soma_media
print(f'A receita média geral é de R$ {media}')
if soma >= 2000000.00 :
  print('Parabéns!!! A DNC bateu a meta do mês')

else: 
  print('Esse mês não batemos a meta, porém mês que em vamos vir mais forte para recuperar')

Quantas vendas tivemos na formação em dados? 1
Quantas vendas tivemos na formação em projetos? 1
Quantas vendas tivemos na formação em marketing? 1
Quantas vendas tivemos na formação em produto? 1
Quantas vendas tivemos na formação em tecnologia? 1
A receita total do mês é de R$ 85000.0
A receita média geral é de R$ 17000.0
Esse mês não batemos a meta, porém mês que em vamos vir mais forte para recuperar

# **Questão 6**

In [ ]:
x = int(input('Até qual número deve se fazer a somatória? '))

soma = 0
for i in range(x+1):

  soma += i

print(f'O valor da soma é de {soma}')

Até qual número deve se fazer a somatória? 5
O valor da soma é de 15

# Questão **7**

In [ ]:
x = input('Digite um comando: ')

while x == 'p' :
  x = input('Digite um comando: ')
  if x == 'p': 
    print('Próxima música')

  else:
    print('Fechando o app \nAté a próxima')
    break

Digite um comando: p
Digite um comando: p
Próxima música
Digite um comando: p
Próxima música
Digite um comando: p
Próxima música
Digite um comando: m
Fechando o app
Até a próxima

# **Questão 8**

In [ ]:
x = input('Insira o nome do aluno: ')
y = input('Insira o nome do aluno: ')
z = input('Insira o nome do aluno: ')

nomes = (x,y,z)

for n in nomes:
  print('Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo',n,'!')

Insira o nome do aluno: Natasha
Insira o nome do aluno: Pablo
Insira o nome do aluno: Teste
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo Natasha !
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo Pablo !
Parabéns por toda sua ajuda no projeto, você está sendo essencial para o resultado que estamos atingindo Teste !

# **Questão 9**

In [ ]:
notas = []


while True: 
  x = int(input('Qual é o valor da nota? '))
  notas.append(x)

  continuar = input('Gostaria de adicionar mais notas? (s/n)')
  if continuar == 'n':
    break

total_nota2 = notas.count(2)
total_nota5 = notas.count(5)
total_nota10 = notas.count(10)
total_nota20 = notas.count(20)
total_nota50 = notas.count(50)
total_nota100 = notas.count(100)
total_nota200 = notas.count(200)

soma = sum(notas)

print('-'*50)
print(f'Você tem {total_nota2} notas de 2 reais')
print(f'Você tem {total_nota5} notas de 5 reais')
print(f'Você tem {total_nota10} notas de 10 reais')
print(f'Você tem {total_nota20} notas de 20 reais')
print(f'Você tem {total_nota50} notas de 50 reais')
print(f'Você tem {total_nota100} notas de 100 reais')
print(f'Você tem {total_nota200} notas de 200 reais')

print('-'*50)
print(f'O valor total das notas é de R$ {soma:.2f}')

Qual é o valor da nota? 2
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 5
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 10
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 20
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 50
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 5
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 5
Gostaria de adicionar mais notas? (s/n)s
Qual é o valor da nota? 10
Gostaria de adicionar mais notas? (s/n)n
--------------------------------------------------
Você tem 1 notas de 2 reais
Você tem 3 notas de 5 reais
Você tem 2 notas de 10 reais
Você tem 1 notas de 20 reais
Você tem 1 notas de 50 reais
Você tem 0 notas de 100 reais
Você tem 0 notas de 200 reais
--------------------------------------------------
O valor total das notas é de R$ 107.00

# **Questão 10**

In [ ]:
membros = [{'nome': 'Isabel', 'RID': '1234', 'idade': 52, 'Cidade':'Guarulhos', 'Cargo': 'PO'},
           {'nome': 'Natasha', 'RID': '5678', 'idade': 26, 'Cidade':'Londrina', 'Cargo': 'Time'},
           {'nome': 'Daniela', 'RID': '9012', 'idade': 31, 'Cidade':'Rio de Janeiro', 'Cargo': 'Tester'}]

for pessoa in membros:
  for key, val in pessoa.items():
    print(f'{key} : {val}')

nome : Isabel
RID : 1234
idade : 52
Cidade : Guarulhos
Cargo : PO
nome : Natasha
RID : 5678
idade : 26
Cidade : Londrina
Cargo : Time
nome : Daniela
RID : 9012
idade : 31
Cidade : Rio de Janeiro
Cargo : Tester

# **Questão 11**

In [ ]:
valor = 0

while True:
  x = float(input('Insira o valor da nota: '))

  valor = valor + x

  continuar = input('Gostaria de adicionar mais notas? (s/n)')

  if continuar == 'n':
    break

print(f'O valor total das notas é de R$ {valor:.2f}')

Insira o valor da nota: 2
Gostaria de adicionar mais notas? (s/n)n
O valor total das notas é de R$ 2.00

In [ ]:
def soma_notas(l):
  total = 0
  for val in l:
    total = total + val
  return total



lista = []
x = 1

while x != 0:
  x = int(input('Informe o valor da notas: '))
  if x == 0:
    break
  lista.append(x)

print("A soma total é R$", soma_notas(lista))

Informe o valor da notas: 2
Informe o valor da notas: 2
Informe o valor da notas: 5
Informe o valor da notas: 4
Informe o valor da notas: 1
Informe o valor da notas: 0
A soma total é R$ 14

In [ ]:
def soma_notas(*args):
  total = 0
  for val in args:
    total = total + val

  print('A soma total é:', total)
  return total

In [ ]:
dinheiro = soma_notas(5,5,10)

A soma total é: 20

In [ ]:
dinheiro

20